.circle{ 
   width: 40px;
   height: 40px;
   background: #000; 
   border-radius: 20px;
}
.popup {
    width: 400px;
    height: 300px;
    border: 2px solid #000;
    background: #fff;
    position: absolute;
}
.popup.east,
.popup.west {
    width: 300px;
    height: 400px;
}
/* Arrows */
.popup:after,
.popup:before {
    position: absolute;
    content: '';
}
.popup.north:after,
.popup.north:before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
}
.popup.north:before {
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid;
    border-top-color: inherit;
    bottom: -23px;
    margin-left: -23px;
}

.popup.south:after,
.popup.south:before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    top: -20px;
    left: 50%;
    margin-left: -20px;
}
.popup.south:before {
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 23px solid;
    border-bottom-color: inherit;
    top: -23px;
    margin-left: -23px;
}

.popup.east:after,
.popup.east:before {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
    left: -20px;
    top: 50%;
    margin-top: -20px;
}
.popup.east:before {
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 23px solid;
    border-right-color: inherit;
    left: -23px;
    margin-top: -23px;
}
.popup.west:after,
.popup.west:before {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    right: -20px;
    top: 50%;
    margin-top: -20px;
}
.popup.west:before {
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 23px solid;
    border-left-color: inherit;
    right: -23px;
    margin-top: -23px;
}

